<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
    <title>Main Vocabulario</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/ca767f7de3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="root">
        <main class="app-container">
            <div class="nav">
                <a class="back-arrow" href="./.."><i class="fa-solid fa-arrow-left"></i></a>
                <!-- <i class="fa-solid fa-user"></i> -->
            </div>
            <div class="blank-screen visually-hidden">
                
            </div>
            <form class="add-word-form word-editor visually-hidden">
                    <input type="text" name="baseWord" placeholder="Palabra" required autocomplete="off">
                    <input type="text" name="wordDefinition" placeholder="Definición" required autocomplete="off">
                    <input type="text" name="wordExample" placeholder="Ejemplo" required autocomplete="off">
                    <input type="hidden" name="wordId">
                    <button class="visually-hidden"></button>
                </form>
            <h2 class="title"><%= spanishNumberWord %></h2>
            <div class="wordList">
                <% wordList.forEach(word => { %>
                <div class="wordList--word-container" 
                    data-word-id="<%= word._id %>"
                    data-base-word="<%= word.baseWord %>"
                    data-word-definition="<%= word.wordDefinition %>"
                    data-word-example="<%= word.wordExample %>"
                >
                    <i class="fa-solid fa-xmark"></i>
                    <%= word.baseWord %>
                    <i class="fa-regular fa-pen-to-square"></i>
                </div>
                <% }) %>
            </div>
        </main>
    </div>
</body>
</html>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', e => {
        e.preventDefault()
        const formData = new FormData(form)
        const newWord = {
            baseWord: formData.get('baseWord'),
            wordDefinition: formData.get('wordDefinition'),
            wordExample: formData.get('wordExample'),
            wordId: formData.get('wordId'),
        }
        const url = './wordList'
        const options = {
            method: "PATCH",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({newWord})
        }
        fetch(url, options)
            .then(res => res.json())
            .then(data => {
                if (data.status === 200) {
                        console.log("Word edited.")
                        alert("Word edited.")
                        location.reload()
                    } else {
                        alert("Something went wrong.")
                    }
            })
    })

    document.addEventListener('click', e => {
        if (e.target.classList.contains('blank-screen')) {
            e.target.classList.add('visually-hidden')
            form.classList.add('visually-hidden')
        }
        if (e.target.classList.contains('fa-xmark')) {
            const wordContainer = e.target.closest('.wordList--word-container')
            const wordId = wordContainer.dataset.wordId
            console.log("Sending DELETE request for word with id:", wordId)
            const url = "/wordList"
            const options = {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ wordId })
            }
            fetch(url, options) 
                .then(res => res.json())
                .then(data => {
                    if (data.status === 200) {
                        console.log("Word deleted.")
                        location.reload()
                    }
                })
        }
        if (e.target.classList.contains('fa-pen-to-square')) {
            const wordContainer = e.target.closest('.wordList--word-container')
            const wordId = wordContainer.dataset.wordId
            console.log("Sending PATCH request for word with id:", wordId)
            
            const { baseWord , wordDefinition, wordExample } = wordContainer.dataset
            
            document.querySelector('[name="baseWord"]').value = baseWord
            document.querySelector('[name="wordDefinition"]').value = wordDefinition
            document.querySelector('[name="wordExample"]').value = wordExample
            document.querySelector('[name="wordId"]').value = wordId
            
            console.log("It's ok!")
            document.querySelector('.blank-screen').classList.remove('visually-hidden')
            form.classList.remove('visually-hidden')
        }
    })
</script>